.cont-productos{
    padding: 25px;
    height: 81%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont-app-table{
    display: block;
    background-color: #fff;
    height:100%;
    width: 95%;
    // border-radius: 25px;
    box-shadow: 0 0 10px 1px rgba(205, 205, 205, 0.584);
}